<br>
<br>
<div id="session">
  <%= form_tag do %>
    <h2 class="title">Please Log In</h2>
    <div class="fields">
      <%= label_tag :name, 'Name'  %>
      <br>
      <%= text_field_tag :name, params[:name] %>
      <br>
      <br>
      <br>
      <br>
      <br>      
      <%= label_tag :password, 'Password' %>
      <br>
      <%= password_field_tag :password, params[:password] %>
    </div>

    <div class="actions">
      <%= submit_tag "Log in" , class: "login"%>
    </div>
  <% end %>
</div>
